---
---

@import "{{ site.theme }}";

.page-header {
    color: #6bc7ce;
    background-color: #ffff;
    background-image: none;
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    text-align: left;
}

a {
    color: #6bc7ce;
    text-decoration: none;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #6bc7ce;
}
